{% extends 'base.html.twig' %}

{% block content %}
    <h2 class="page-header">CREATE NEW POST</h2>

    {{ form_start(form)}}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_row(form.title) }}
        </div>
        <div class="form-group">
            {{ form_row(form.description) }}
        </div>
        <div class="form-group">
            {{ form_row(form.category) }}
        </div>

        <input type="submit" value="Save">
    {{ form_end(form)}}
{% endblock %}
